body {
    margin: 0;
    padding: 0;
    background-color: black;
}


header {
    background: linear-gradient(to bottom, rgb(97, 12, 19), black);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

footer {
    background: linear-gradient(to bottom, black, rgb(97, 12, 19));
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}