*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.grupo{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}
.fundo{
    background-color: rgb(97, 12, 19);
    height: 75vh;
    width: 65%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.logo{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadastro{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botoes{
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: white;
    font-size: x-large;
}
label{
    color: white;
}
h1{
    color: white;
    font-size: x-large;
    font-family: inherit;
    margin-top: 10px;
    
}
input{
    width: 20vw;
    height: 4vh;
    margin-bottom: 20px;
    
}
.email{
    display: flex;
    flex-direction: column;
    
}
.usuario{
    display: flex;
    flex-direction: column;
}
.senha{
    display: flex;
    flex-direction: column;
}
.senhadnv{
    display: flex;
    flex-direction: column;
}
label{
    font-size: x-small;
    margin-bottom: 2px;
}
button{
    background-color: black;
    color: white;
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}
p{
    color: white;
    margin-bottom: 5px;
}
a{
   
    color: white;
}
.voltar{
    background-color: rgb(97, 12, 19);
    border-radius: 50px;
    width: 50px;
    height: auto auto;
    margin-left: 40px;
    margin-top: 30px;
}