*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 12, 19);
    height: 75vh;
    width: 40%;
    flex-direction: column;
    border-radius: 15px;
}

h1{
    display: flex;
    margin-bottom: 11vh;
    color: white;
}

.inputs input{
    width: 20vw;
    height: 3vh;
    margin-bottom: 8vh;
    justify-content: center;
    text-align: initial;
    display: flex;
}

#butao{
    margin-bottom: 10px;
    background-color: black;
    color: white;
    height: 4vh;
    width: 10vw;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}

a{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline;
    margin-bottom: 10px;
}

label{
    color: white;
}