*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.esquerda{
    height: 100vh;
    width: 20vw;
    border-right: 1px solid white;
}
.direita{
    height: 100vh;
    width: 100vw;
   
}
.inicio{
    height: 30%;
    width: 100%;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-flow: row wrap;
}
h1{
    width: 100%;
    color: rgb(97, 12, 19);
}

button{
    height: 20%;
    width: 20%;
    border-radius: 50px;
    background-color: rgb(97, 12, 19);
    border: none;
    cursor: pointer;
}
.home{
    height: 70%;
    width: 70%;
    text-decoration: none;
    
}
h2{
    margin-right: 70px;
    margin-left: 10px;
    color: white;
    font-family: "Playfair Display", serif;
}
a{
    text-decoration: none;
}
.playlist{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    
}
.titulo{
    padding-left: 10px;
    padding-top: 10px;
}
.titulo-principal{
    padding-left: 40px;
}
.pastas{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto; 
    height: 300px;
    padding: 10px; 
    box-sizing: border-box; 
}
.mensagem{
    width: 80%;
    height: 20vh;
    background-color: rgb(52, 51, 51);
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.criar{
    background-color:  rgb(97, 12, 19);
    width: 120px;
    color: white;
    height: 35px;
    font-family: "Playfair Display", serif;
}
.mensagem2{
    font-size: large;
    color: white;
    text-align: center;
    font-family: "Playfair Display", serif;
    background-color: transparent;
}
.mensagem3{
    background-color:  rgb(52, 51, 51);
    width: 80%;
    height: 35px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: x-small;
    align-items: center;
}
.reproduzir{
    width: 20px;
    height: 20px;
}
.add{
    color: white;
}
.barra-pesquisa{
    width: 100%;
    height: 13vh;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    
}
.input{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 80%;
    height: 40%;
}
.botoes_{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

}
.botao{
    margin-left: 2%;
    height: 40px; 
    color: white;

}
.botao2{
    text-decoration: none;
    color: white;
    font-family: "Playfair Display", serif;
}
.musicas_{
    display: flex;
    flex-direction: column;
    height: 87vh;
}
.top-musicas{
  
    height: 60%;
}
.titulo-musica{
    height: 15%;
    text-align: center;
    
}
.mais-ouvidas{
   
    height: 84%;
    display: flex;
    flex-direction: row;
}
.song{
    height: 100%;
    width: 25%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.capa{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
h3{
    color: white;
    background-color: rgb(76, 76, 76);
    margin-top: 10px;
    width: 160px;
    text-align: center;
    border-radius: 5px;
}
.top-artistas{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.titulo-artistas{
    height: 15%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
.artistas-favoritos{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.artista-escolha{
    height: 80%;
    width: 25%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto{
    width: 150px;
    height: 150px;
}
.tituloPlaylist{
    background-color: rgb(52, 51, 51);
    color: white;
    font-size: small;
    display: flex;
    align-items: center;
}
.paginaArtista{
    height: 100%;
    flex: 1; /* Ocupa o espaço restante */
    overflow-y: auto; /* Habilita a rolagem vertical */
    height: 300px; /* Defina a altura que desejar */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
    color: white;
}
.artista2{
    border-radius: 5px;
    background-color:#5A74C3;
    height: 250px;
    color: white;
    display: flex;
    width: 100%;
   flex-direction: row;
   
}
.imagem_album{
    width: 22%;
    height: 100px;
    background-color:#5A74C3;
    display: flex;
    justify-content: end;
}
.imagem_do_artista{
    background-color:#5A74C3;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:25%;
    justify-content: center;
}
.titulo_novo{
    background-color:  transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: white;
}

.artista h4{
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#imagem{
    border-radius: 5px;
    height: 200px;
    margin: 25px;
}

#imgArtista{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
}



#play{
    border-radius: 50px;
    background-color:#610c13;
    color: white;
    width: 75px;
    height: 25px;
    margin-top: 10px;
    border: none    ;
}

i{
    background-color: transparent;
}

p{
    color: #97989A;
    background-color: transparent;
}

.botoes{
    margin-top: 10px;
}

.musicas{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

.musicas:hover{
    background-color: #2B3036;
}

.musicas h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista1{
    margin-top:35px;
    margin-left: -142px;
}

#num1{
    margin-left: 5px;
    margin-top: 22px;
}

/* Divisao de musicas*/

.musica2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num2{
    margin-left: 5px;
    margin-top: 22px;
}

.musica2 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista2{
    margin-top:35px;
    margin-left: -150px;
}

.musica2:hover{
    background-color: #2B3036;
}

/* Divisão */

.musica3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num3{
    margin-left: 5px;
    margin-top: 22px;
}

.musica3 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista3{
    margin-top:35px;
    margin-left: -80px;
}

.musica3:hover{
    background-color: #2B3036;
}

/* Divisão */

.musica4{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num4{
    margin-left: 5px;
    margin-top: 22px;
}

.musica4 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista4{
    margin-top:35px;
    margin-left: -38px;
}

.musica4:hover{
    background-color: #2B3036;
}

/* Divisão */

.musica5{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num5{
    margin-left: 5px;
    margin-top: 22px;
}

.musica5 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista5{
    margin-top:35px;
    margin-left: -28px;
}

.musica5:hover{
    background-color: #2B3036;
}

/* Divisão */

.musica6{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num6{
    margin-left: 5px;
    margin-top: 22px;
}

.musica6 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista6{
    margin-top:35px;
    margin-left: -45px;
}

.musica6:hover{
    background-color: #2B3036;
}

/* Divisão */

.musica7{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num7{
    margin-left: 5px;
    margin-top: 22px;
}

.musica7 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista7{
    margin-top:35px;
    margin-left: -40px;
}

.musica7:hover{
    background-color: #2B3036;
}

/* Divisão */

.musica8{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num8{
    margin-left: 5px;
    margin-top: 22px;
}

.musica8 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista8{
    margin-top:35px;
    margin-left: -80px;
}

.musica8:hover{
    background-color: #2B3036;
}

/* Divisão */

.musica9{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num9{
    margin-left: 5px;
    margin-top: 22px;
}

.musica9 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista9{
    margin-top:35px;
    margin-left: -68px;
}

.musica9:hover{
    background-color: #2B3036;
}

/* Divisão */


.musica10{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num10{
    margin-left: 5px;
    margin-top: 22px;
}

.musica10 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista10{
    margin-top:35px;
    margin-left: -40px;
}

.musica10:hover{
    background-color: #2B3036;
}

/* Divisão */

.musica11{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num11{
    margin-left: 5px;
    margin-top: 22px;
}

.musica11 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista11{
    margin-top:35px;
    margin-left: -28px;
}

.musica11:hover{
    background-color: #2B3036;
}

.musica12{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 65px;
    border-radius: 5px;
}

#num12{
    margin-left: 5px;
    margin-top: 22px;
}

.musica12 h4{
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
}

#artista12{
    margin-top:35px;
    margin-left: -65px;
}

.musica12:hover{
    background-color: #2B3036;
}
#apareca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 100vh;
}
#maisOuvido{
    background-color: transparent;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    
}
#recado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tituloRecado{
    text-align: center;
    color: white;

}
.fade-in {
    opacity: 0; /* Começa invisível */
    transform: translateY(-20px); /* Move os elementos para cima */
    animation: fadeIn 0.5s forwards; /* Define a animação */
    animation-delay: var(--delay); /* Atraso personalizado */
}

/* Define a animação */
@keyframes fadeIn {
    to {
        opacity: 1; /* Torna o elemento visível */
        transform: translateY(0); /* Move os elementos para sua posição original */
    }
}

/* Aplicar um atraso gradual a cada elemento */
.fade-in:nth-child(1) {
    --delay: 0s;
}
.fade-in:nth-child(2) {
    --delay: 0.2s;
}
.fade-in:nth-child(3) {
    --delay: 0.4s;
}
.btn-imagem{
    background-color: transparent;
}
.explorar2{
    cursor: pointer;
}
.capa-playlist{
    background: linear-gradient(rgba(97, 12, 19, 1), rgb(0, 0, 0));
    height: 30vh;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
.corpo-playlist{
    height: 50vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto; 
    padding: 10px; 
    box-sizing: border-box; 
    
}
.titulo-playlist{
    color: white;
}
.mensagem-add{
    background-color: rgb(145, 145, 145);
    height: 7vh;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.mensagem-add-2{
    width: 100%;
}
.nota-musical{
    height: 100px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
.musica-playlist{
    width: 50%;
    height: 8vh;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 5px;
}
.musica-playlist:hover{
    background-color: #610c13;
    cursor: pointer;
}
.musica-playlist h4{
    margin-top: 10px;
}
.voltar{
    background-color: rgb(97, 12, 19);
    border-radius: 50px;
    width: 50px;
    height: auto auto;
    margin-left: 40px;
    margin-top: 30px;
}
